@if (authService.user() !== undefined) {
    <div class="flex h-full w-full flex-col items-center justify-center">
        <div>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <div class="text-center text-xl md:mt-0">Log in</div>

                <label class="text-sm">Email</label>
                <input
                    formControlName="email"
                    type="email"
                    class="mb-2 block w-64 rounded-sm border p-2 text-lg"
                />

                <label class="text-sm">Password</label>
                <input
                    formControlName="password"
                    type="password"
                    class="mb-2 block w-64 rounded-sm border p-2 text-lg"
                />
                <button type="submit" class="mt-2 w-full rounded-sm bg-blue-600 p-2 text-white">Login</button>
                @if (status() === 'error') {
                    <div class="text-center text-red-500">Invalid Credentials</div>
                }
            </form>
        </div>
        <a class="mt-2 text-sm" routerLink="/signup">click here to sign up</a>
    </div>
}
