<ng-container *ngIf="status() === 'success' || (recipe$ | async) as recipe; else loadingOrErrorRef">
    <form
        *ngIf="status() !== 'error' && status; else loadingOrErrorRef"
        (ngSubmit)="save$.next()"
        [formGroup]="recipeForm"
    >
        <!-- Top Bar -->
        <app-topbar>
            <b class="text-xl">
                @if (newRecipe()) {
                    New Recipe
                } @else {
                    Edit Recipe
                }
            </b>
            <button
                class="ml-auto flex w-24 items-center justify-center rounded-md py-2 transition-all hover:bg-gray-300"
                type="submit"
                [disabled]="status() === 'in progress'"
            >
                @if (status() === 'in progress') {
                    <div class="mr-1">
                        <i class="gg-spinner"></i>
                    </div>
                    Saving
                } @else {
                    <div class="mr-3 mt-3">
                        <i class="gg-cloud"></i>
                    </div>
                    Save
                }
            </button>
        </app-topbar>

        <!-- Content -->
        <div class="h-auto w-full p-4">
            <!-- Title -->
            <div class="flex flex-row items-center">
                <label class="text-xl" for="name">Title: </label>
                <input
                    formControlName="name"
                    class="ml-2 w-full flex-1 bg-gray-200 p-2"
                    (keyup.enter)="addItem()"
                    required
                />
            </div>

            <!-- Ingredients -->
            <div class="w-full" formArrayName="items">
                <div class="mb-1 mt-2 text-xl">Ingredients</div>
                <div class="mb-1 flex flex-col space-y-2">
                    @if (items.controls.length === 0) {
                        <div class="ml-2">Add an Ingredient</div>
                    } @else {
                        <div
                            *ngFor="let itemForm of items.controls; let i = index"
                            [formGroupName]="i"
                            class="flex items-center"
                        >
                            <button
                                (click)="removeItem(i)"
                                class="mr-2 h-fit w-fit justify-center"
                                type="button"
                            >
                                <i class="gg-remove-r"></i>
                            </button>
                            <div class="mr-1 flex flex-col space-y-1">
                                <input
                                    formControlName="name"
                                    placeholder="Name"
                                    class="min-w-0 bg-gray-200 p-1"
                                    [id]="'item@' + i"
                                    (keyup.enter)="addItem(i + 1)"
                                />
                                <input
                                    formControlName="category"
                                    placeholder="Category"
                                    class="min-w-0 bg-gray-200 p-1"
                                    (keyup.enter)="addItem(i + 1)"
                                />
                            </div>
                            <div class="ml-auto">x</div>
                            <input
                                formControlName="quantity"
                                placeholder="qty"
                                class="mx-1 w-8 bg-gray-200 p-1"
                                (keyup.enter)="addItem(i + 1)"
                            />
                            <input
                                formControlName="unit"
                                placeholder="Unit"
                                class="min-w-0 bg-gray-200 p-1"
                                (keyup.enter)="addItem(i + 1)"
                            />
                        </div>
                    }
                </div>

                <!-- Add Item Button -->
                <button
                    (click)="addItem()"
                    class="ml-auto mt-1 flex h-8 w-8 items-center justify-center rounded-md bg-gray-300"
                    type="button"
                >
                    <i class="gg-math-plus"></i>
                </button>
            </div>

            <!-- Instructions -->
            <div>
                <label class="mb-1 text-xl" for="instructions">Instructions</label>
                <div class="grow-wrap">
                    <textarea
                        formControlName="instructions"
                        id="instructions"
                        class="h-full w-full resize-none bg-gray-100 p-2"
                        onInput="this.parentNode.dataset.replicatedValue = this.value"
                    ></textarea>
                </div>
            </div>
        </div>
    </form>
</ng-container>
<!-- Loading -->
<ng-template #loadingOrErrorRef>
    @if (status() === 'error') {
        <app-page-not-found></app-page-not-found>
    } @else {
        <app-topbar></app-topbar>
        <div class="mt-2 flex w-full justify-center">
            <i class="gg-spinner"></i>
        </div>
    }
</ng-template>
